.THIS#stage2{font-size:.8125rem; width:85%; margin:0 auto;}
.THIS#stage2 .radioAlign {margin-bottom:2rem !important;}

.THIS#stage2 .uiInput--select, 
.THIS#stage2 .slds-input{min-height:unset; height:32px;}

.THIS#stage2 label.slds-form-element__label.slds-no-flex{display:none; width:0;}
.THIS#stage2 .bottomtbl td svg.slds-icon-text-warning { fill: #ff0000;}

.THIS .warningrow:hover td{background-color: #ffffff !important;}
.THIS .notewrappertd{padding-top:20px;}
.THIS .noteTitle {display:inline-block; margin-right:10px; vertical-align: top;}
.THIS .noteContent {display:inline-block;}
.THIS .account-title {padding:6px 58px; font-size:14px;}
.THIS .grid-column {min-width:300px; text-transform:uppercase; font-size:13px; padding:6px;}

@media (max-width:1250px){
    .THIS#stage2 {width:90%;}
}
@media (max-width:600px){
    .THIS#stage2 {width:100%;}
}