.THIS {
}
.THIS.leftNavigationCmp.cMemberInfo  { 
  height: 100%; 
  z-index: 1; 
  left: 0;
  background-color: #ffffff; 
  position: absolute; 
  top: 28px;
  width: 240px;
  overflow-x: hidden; 
  padding: 130px 10px 30px;
  min-height: 100vH;
}

.THIS .margin-btm-24 {margin-bottom: 24px;}
.THIS .memberTypeSection .slds-icon-action-user{background-color: #ffffff;}
.THIS .memberTypeSection .slds-icon-action-user .slds-icon {fill: rgb(86, 106, 137);}
.THIS .leftIconSection {float: left;}
.THIS .contentSection {}
.THIS .favIcon .slds-icon-action-check{background-color: rgb(23, 50, 92);}
.THIS .favIcon .slds-icon-text-default{ fill: #ffffff;}