/** Header Area **/

.header{
	padding: 30px 0;
}
.chevron_logo{

}
.top_action_btn{
	padding-top:15px;

}
.top_action_btn .topaction_btn_list{
	list-style-type: none;
}
.top_action_btn .topaction_btn_list li{
	display: inline-block;
	padding: 0 10px;
}
.action_close{
	padding: 5px 25px;
}
.action_submit{

}

/** Header Area Ends **/

textarea { resize:vertical ; }

/** Content Area **/
.content_area{
	padding: 10px 0 100px 0;
	text-align: left;
}

/** Sidebar **/
/*.sidebar{}
.sidebar .action_submit{
	margin-bottom: 10px;
}
.action_submit{}
.sidebar_nav_list{
	background: #002a54;
	
	Padding: 20px 0 20px 16px;
  -webkit-border-radius: 5px; 
  -moz-border-radius: 5px;
  -o-border-radius:5px;
  -ms-border-radius:5px; 
  border-radius: 5px;
	text-align: -webkit-left;
}
.sidebar_nav_list .sb_navlist{
	list-style-type: none;
	padding-left: 0;
	margin-bottom: 0;
	margin-left:27px;
}
.sidebar_nav_list .sb_navlist li{
	
	Padding: 0px 0px 25px 0;
	
}
.sidebar_nav_list .sb_navlist li a{
	color: #ffffff;
}
.sidebar_nav_list .sb_navlist li a.doublearrow , .sidebar_nav_list .sb_navlist li a.doublearrow span{
Font-weight: bold;
}
.sidebar_nav_list .sb_navlist li:last-child{
padding-bottom: 0px;
}
*/
/** Sidebar Ends **/

/** Tabular Content and Other Page Content Starts **/
.tabular_content{}
.tabular_content .page_heading, .right_content .page_heading{
	padding-top:0;
	margin-top:0;
	font-weight: 700;
}
.tabular_content .table_action_tool{
	list-style-type: none;
	padding-left: 0;
}
.tabular_content .table_action_tool > li{
	display: inline-block;
	margin-right: 20px;
}
.disabled_btn{
	background:#cccccc;
	color:#424242;
	border-color: #cccccc;
}
.last_updated_msg{}
.last_updated_msg .updated_status, .footer_area span{
	color: #C9C9C9;
}
.color_lightgrey
{
	color:#666666;
}
.table>tbody>tr>td{
	padding-bottom: 20px;
}
.table>tbody>tr>td>a{
	cursor: pointer;
	text-decoration: none;
	
}
.table{
	border-bottom: 1px solid #ddd;
}
.star{
	background: url('../img/star_sprite.png') no-repeat;
	width: 15px;
	height: 14.5px;
	display: inline-block;
	margin-left: 20px;
}
.star.star_enabled{
	background-position: 0 -14.5px;
}
.imp{
	background: url('../img/important.png') no-repeat;
	width: 15px;
	height: 15px;
	display: inline-block;
	margin-left: 20px;
}
.imp_item{
	color: #c9302c;
}
.color_blue{
	color: #337ab7;
}
.system_notices{
	color: #47b700;
}
.text_bold{
	font-weight: 700;
}

.msg_alert_label{
	margin-top: 10px;
}
.msg_alert_label .label_color{
	padding-left: 0;
	list-style-type: none;
}
.msg_alert_label .label_color li{
	display: inline-block;
	margin-right: 20px;
	background-position: center; 
}
.label_color_item{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	display: inline-block;
	margin-right: 10px;
}
.label_new{
	background: #337ab7;
}
.label_read{
	background: #666666;
}
.label_expiring{
	background: #c9302c;
}
.label_systemnotices{
	background: #47b700;
}
.label_important{
	background: url('../img/important.png') no-repeat;
	width: 15px;
	height: 15px;
}
.imp_label{
	display: inline-block;
	margin-right: 10px;
}
.pagination_box{
	padding: 10px 0;
}
.pagination_box .paginate_number{
	float: right;
}
.pagination_box .pager_next_prev{
	float: right;
	list-style-type: none;
}
.pagination_box .pager_next_prev li{
	display: inline-block;
	margin-right: 20px;
}

.pagination_box .pager_next_prev .pager_nav a{
	color: #c9c9c9;
}
.pagination_box .pager_next_prev .more_item a{
	color: #337ab7 !important;
}
button.btn-link[disabled]
{
	color:gray;
}
.selected_row{
	background: #f4f4f4;
}

.Pager > Div > a.disabled{

	color: #c9c9c9;
	text-decoration:none;
	
}
.right_content .bootstrap-select.form-control:not([class*=col-]){
	width: 20%;
	display: block;
}

.right_content .c_select_width button[type=button]{
	color: #0175c2;
	background-color: #ffffff;
	border-color: #0175c2;
}
.right_content .bootstrap-select .btn:focus {
    outline: none !important;
}
.right_content .btn-group.open .dropdown-toggle{
	background-color: #0175c2;
}
.right_content .btn-group.open .dropdown-toggle span{
	color: #ffffff;
}
.right_content .fileupload{
	display: none;
}
.right_content .file_attach_list, .right_content .attached_files{
	list-style-type: none;
	padding-left: 0;
	padding-top:10px;
}
.right_content .file_attach_list li a.attach_file{
	display: inline-block;
	margin-bottom: 10px;
}
.right_content .file_attach_list li a.add_files{
	color: #bdbdbd;
	background: url('../img/add_icon.png') left no-repeat;
	padding-left: 25px;
}
.right_content .empty_files{
	display: none;
}
.right_content .attached_files{
	display: block;
}
.right_content .attached_files li a{
	display: inline-block;
	margin-bottom: 10px;
	background: url('../img/file_icon.png') left no-repeat;
	padding-left: 25px;
	color: #bdbdbd;
	cursor: pointer;
}
.right_content .attached_files .active_add{
	color: #0175c2;
	background: url('../img/active_add_icon.png') left no-repeat;
	padding-left: 25px;
	font-weight: 700;
	cursor: pointer;
}
.right_content hr{
	margin: 10px 0 30px 0;
}

/** Tabular Content and other Page Content Ends **/



/** Submit Inquiry Page Right Content Ends ***/

/** Content Area Ends **/

/** Footer Area **/
.footer_area span{
	padding: 20px 0;
}
/** Footer Area Ends **/









@media (min-width: 1366px) {
	.container{
	    width:1280px;
	}
}

/** No More Tables **/
@media only screen and (max-width: 800px) {
	
	/* Force table to not be like tables anymore */
	#no-more-tables table, 
	#no-more-tables thead, 
	#no-more-tables tbody, 
	#no-more-tables th, 
	#no-more-tables td, 
	#no-more-tables tr { 
		display: block; 
	}
 
	/* Hide table headers (but not display: none;, for accessibility) */
	#no-more-tables thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
 
	#no-more-tables tr { border: 1px solid #ccc; }
 
	#no-more-tables td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
		white-space: normal;
		text-align:left;
	}
 
	#no-more-tables td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}
 
	/*
	Label the data
	*/
	#no-more-tables td:before { content: attr(data-title); }
}

/** No More Tables End **/


/** Right Offset **/
.col-xs-offset-right-12 {
  margin-right: 100%;
}
.col-xs-offset-right-11 {
  margin-right: 91.66666667%;
}
.col-xs-offset-right-10 {
  margin-right: 83.33333333%;
}
.col-xs-offset-right-9 {
  margin-right: 75%;
}
.col-xs-offset-right-8 {
  margin-right: 66.66666667%;
}
.col-xs-offset-right-7 {
  margin-right: 58.33333333%;
}
.col-xs-offset-right-6 {
  margin-right: 50%;
}
.col-xs-offset-right-5 {
  margin-right: 41.66666667%;
}
.col-xs-offset-right-4 {
  margin-right: 33.33333333%;
}
.col-xs-offset-right-3 {
  margin-right: 25%;
}
.col-xs-offset-right-2 {
  margin-right: 16.66666667%;
}
.col-xs-offset-right-1 {
  margin-right: 8.33333333%;
}
.col-xs-offset-right-0 {
  margin-right: 0;
}
@media (min-width: 768px) {
  .col-sm-offset-right-12 {
    margin-right: 100%;
  }
  .col-sm-offset-right-11 {
    margin-right: 91.66666667%;
  }
  .col-sm-offset-right-10 {
    margin-right: 83.33333333%;
  }
  .col-sm-offset-right-9 {
    margin-right: 75%;
  }
  .col-sm-offset-right-8 {
    margin-right: 66.66666667%;
  }
  .col-sm-offset-right-7 {
    margin-right: 58.33333333%;
  }
  .col-sm-offset-right-6 {
    margin-right: 50%;
  }
  .col-sm-offset-right-5 {
    margin-right: 41.66666667%;
  }
  .col-sm-offset-right-4 {
    margin-right: 33.33333333%;
  }
  .col-sm-offset-right-3 {
    margin-right: 25%;
  }
  .col-sm-offset-right-2 {
    margin-right: 16.66666667%;
  }
  .col-sm-offset-right-1 {
    margin-right: 8.33333333%;
  }
  .col-sm-offset-right-0 {
    margin-right: 0;
  }
}
@media (min-width: 992px) {
  .col-md-offset-right-12 {
    margin-right: 100%;
  }
  .col-md-offset-right-11 {
    margin-right: 91.66666667%;
  }
  .col-md-offset-right-10 {
    margin-right: 83.33333333%;
  }
  .col-md-offset-right-9 {
    margin-right: 75%;
  }
  .col-md-offset-right-8 {
    margin-right: 66.66666667%;
  }
  .col-md-offset-right-7 {
    margin-right: 58.33333333%;
  }
  .col-md-offset-right-6 {
    margin-right: 50%;
  }
  .col-md-offset-right-5 {
    margin-right: 41.66666667%;
  }
  .col-md-offset-right-4 {
    margin-right: 33.33333333%;
  }
  .col-md-offset-right-3 {
    margin-right: 25%;
  }
  .col-md-offset-right-2 {
    margin-right: 16.66666667%;
  }
  .col-md-offset-right-1 {
    margin-right: 8.33333333%;
  }
  .col-md-offset-right-0 {
    margin-right: 0;
  }
}
@media (min-width: 1200px) {
  .col-lg-offset-right-12 {
    margin-right: 100%;
  }
  .col-lg-offset-right-11 {
    margin-right: 91.66666667%;
  }
  .col-lg-offset-right-10 {
    margin-right: 83.33333333%;
  }
  .col-lg-offset-right-9 {
    margin-right: 75%;
  }
  .col-lg-offset-right-8 {
    margin-right: 66.66666667%;
  }
  .col-lg-offset-right-7 {
    margin-right: 58.33333333%;
  }
  .col-lg-offset-right-6 {
    margin-right: 50%;
  }
  .col-lg-offset-right-5 {
    margin-right: 41.66666667%;
  }
  .col-lg-offset-right-4 {
    margin-right: 33.33333333%;
  }
  .col-lg-offset-right-3 {
    margin-right: 25%;
  }
  .col-lg-offset-right-2 {
    margin-right: 16.66666667%;
  }
  .col-lg-offset-right-1 {
    margin-right: 8.33333333%;
  }
  .col-lg-offset-right-0 {
    margin-right: 0;
  }
 
   .nameContainer
  {
	margin-left:2px !important;
	margin-top:10px;
	text-align:left;
  }
  




