.THIS {
    position: absolute;
    top: 4rem;
    right: 0;
    z-index: 100;
    width: 280px;
    font-size: 12px;
}


.THIS td{
    width: 33.33%;
    text-align: center;
    vertical-align: top;
}

.THIS .forceHighlightsStencilDesktop .actionsContainer{padding-top:0;}
    
/*.THIS .linebreak{
    width: 60%;   
}*/ 

.THIS .breached{
    color: red;
}
.THIS .value{
    font-size: 13px;
}

@media(max-width:1080px){
    .THIS table {right:auto; left:270px;}
}