.cPagination .paginationDiv {text-align: center;}
        .cPagination .paginationDiv .slds-button, .cPagination .paginationDiv .slds-button_brand {padding-left: 0.7rem; padding-right: 0.7rem;line-height: 1.8rem;}
        .cPagination .pagingnumber {width:50%; margin-bottom:10px;}
     .cPagination .pagingnumber span  {display: inline-block;}
     .cPagination .pagingnumber .slds-form-element {position: relative;display: inline-block;margin: 0 5px;}
     	.cPagination .clearfix {display:table; clear:both; content:'';}
     .cPagination .bottompaginationwrap {padding:10px 0 0; border-top:1px solid #000;}
        .cPagination .bottompaginationwrap .showingpage {float:left;padding-top:6px;}
     .cPagination .bottompaginationwrap .paginationDiv{float:right;}
     
     @media (min-width: 48em){
    .cPagination .slds-modal__container {width:65%;max-width:auto;}
     }
     
     .THIS .slds-table thead th
     {
     	padding: .25rem .2rem;
     	    font-size: 0.8rem;
     }
     .THIS .tablewithpaging .slds-table td{padding: .25rem 0.4rem;}