.THIS {
}
.THIS .loadingDiv {
      position: absolute;
      z-index: 100;
      background: rgba(255, 255, 255, 0.8);
      width: 100%;
      height: 70%;
      top: 100px;
  }
  
 .THIS #createCasePopup {
      max-width: 80rem;
      width: 70%;
  }
  
.THIS .loadingDiv .demo-only {
      z-index: 101;
  }       
.THIS .cCreateCaseMemberPage.loadingDiv{top:0; left:0; height:100%;}
  /* Loading Style End*/
  
 .THIS ul.columns {columns: 2; }
   

 .THIS table.cMemberPageMessages{top:15px;}