.recordId {
  color:white;
}


.case-grid {
  display:grid;
  grid-template-columns: 50% 50%;  
}

.case-item {
  margin:5px;
  padding:5px;
  min-height: 76px;
}


.user-or-queue {
  display:grid;
  grid-template-columns: 100%;
}

.slds-pill_link, .slds-pill--link{padding:5px;}
.slds-pill__remove {margin-right: .25rem;}
.fullWidth{
  width:762px !important;  
}
.class1{
  width: 100%; 
  left: 1px;
  height:200px;
  overflow-y:auto;
}
.class2{
  width: 100%; 
  left: 1px;
  height:200px;
  overflow-y:auto;
  display:none;
}
.removeImage {
  border-radius: 50%;
  padding: 0px 4px;
  margin: 8px 2px 8px 8px;
  color: #fff;
  background-color: #9f201b;
  cursor: pointer;
}
.spinnerHolder{
  width: 100%;
  height: 100%;
}

.slds-spinner_container {
  position:fixed !important;
}