.THIS.authwrap .logohead{text-align:left;}
.THIS.authwrap .logohead h1{text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500; margin-top:.5rem;
    letter-spacing: 1px;padding:1rem;
    font-weight: bolder;}
    
.THIS.authwrap .logoimg{
    border-top-right-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
    border-bottom: 2px solid rgb(221, 219, 218);
    padding:1rem;
}

.THIS.authwrap{font-size:.8125rem;
   /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-weight: normal;*/  }
.THIS.authwrap .p0{padding:0 !important;}
.THIS.authwrap .tblbor0 td{border:0 !important;}
.THIS.authwrap .tblbor0 td.tblborright{border-right:1px solid #000 !important;}

.THIS.authwrap .authtitle{margin:1rem;margin-top: -0.5rem !important;}
.THIS.authwrap .txtACH{margin-left:1rem}
.THIS.authwrap .authtitle h2{text-transform:uppercase; font-size:1rem;font-size:.875rem; font-weight:700; letter-spacing:1px;}
.THIS.authwrap .chkbx{border:1px solid #000; width:15px; height:15px; margin:0 1rem 0 1rem; display:inline-block; vertical-align:middle;
	line-height:15px; text-align:center;}

.THIS.authwrap .authform table td{border:1px solid #000;}
.THIS.authwrap .authform td{padding:.5rem;}
.THIS.authwrap .authform td.titletbl{background:#ccc;}
.THIS.authwrap .titletbl td{border:0 !important;}
.THIS.authwrap .titletbl td h3, 
.THIS.authwrap .titletbl td.num{text-transform:uppercase; font-size:.875rem; font-weight:700; letter-spacing:1px;}
.THIS.authwrap .titletbl td.num{ width:50px; text-align:center;}
.THIS.authwrap td span{font-size:.875rem; text-transform:uppercase;}

.THIS.authwrap .titletbl .whitetd{background:#fff;}

.THIS.authwrap .txtACHAmount{padding-left: 0px !important;
    width: 100px !important; margin-left: -23% !important;}
.THIS.authwrap .signtbl td{width:50%;}
.THIS.authwrap .signtbl div{border-bottom:1px solid #000; text-align:center; height:80px; vertical-align:text-bottom;position:relative;}
.THIS.authwrap .signtbl td:nth-child(1){padding-right:1.5rem;}
.THIS.authwrap .signtbl td:nth-child(2){padding-left:1.5rem;}
.THIS.authwrap .signtbl div:before{content:"X";position:absolute; left:0; bottom:3px; }
.THIS.authwrap .signtbl p{text-align:left;padding-bottom:1.5rem;}
.THIS.authwrap .signtbl div img{height:80px; width:auto; max-width:100%;}

.THIS.authwrap .signtbl div.dt {line-height:135px;}
.THIS.authwrap .signtbl div.dt:before{line-height:normal;}
.THIS.authwrap .slds-form-element__label{width:135px;max-width:unset;}
.THIS.authwrap .uiInput--select .select, 
.THIS.authwrap .uiInput--input.input,
.THIS.authwrap .slds-input{min-height:unset; height:30px;border-radius: inherit;}
.THIS.authwrap .slds-form-element__control{padding-left:120px;width: 300px;padding-bottom: 0px !important;
    padding-top: 0px !important;}

.THIS.authwrap .fontstyle{word-break:break-word;}
.THIS.authwrap .slds-form-element_horizontal{
    padding-bottom: 0!important;
    padding-top: 0!important;
}

.THIS.authwrap label.slds-form-element__label.slds-no-flex{display:none; width:0;}
@media(max-width:601px){
    .THIS.authwrap .signtbl td:nth-child(1){padding-right:.7rem;}
	.THIS.authwrap .signtbl td:nth-child(2){padding-left:.7rem;}
}
@media(max-width:481px){
    .THIS.authwrap .signtbl td{display:block; width:100%; padding:0 !important;}
}


@media (max-width:767px){
    .THIS.authwrap .slds-form-element__label{float:left;}
	.THIS.authwrap .slds-form-element_horizontal .slds-form-element__control{clear:none;}
}
@media (max-width:480px){
    .THIS.authwrap .slds-form-element__label{clear:both;}
	.THIS.authwrap .slds-form-element_horizontal .slds-form-element__control{clear:both; padding-left:0;}
}

.THIS.hidediv {
    display:none;
}
.THIS.showdiv {
    display:block;
}
.THIS.authwrap .spin{
    top: 10% !important;
    bottom: 7% !important;
}
.THIS.authwrap .chkAdditional{
    display: inline-block !important;
}
.THIS.authwrap .txtACHReadOnly{
    display: inline-block !important;
    outline: 0;
    border-width: 0 0 2px;
}