.THIS {}
.THIS .slds-table thead th
     {     	
     	    font-size: 0.798rem !important;
     }
.THIS .slds-table_fixed-layout{
	    table-layout: auto;
	}
.THIS .slds-icon_container{
	display: none;
}