.THIS .step-container {width: 100%; padding-top:1rem;}
.THIS .progressbar {counter-reset:step; width: 100%; margin: auto;}
.THIS .progressbar::after { display:table; clear:both; content:'';}
.THIS .progressbar li {list-style-type: none; display:inline-block; width: 20%; position: relative; text-align: center;}
.THIS .progressbar li:before {content: counter(step); counter-increment: step; width: 36px; height: 34px; line-height: 35px; border: none; display: block; text-align: center; margin: 0 auto 10px auto; border-radius: 50%; background-color: #a0a2a5; color: #fff; 
    font-size: 16px; font-family: open sans;position: relative;
    z-index: 10;}
.THIS .progressbar li:after {content:''; position: absolute; width: 76%; height: 5px; background-color: #a8b7c7; top: 15px; left: -38%; z-index: 1;}
.THIS .progressbar li:first-child:after {content: none;}    
.THIS .progressbar li.three:before {background-color: #c23934;}                                                                                                                             
.THIS .progressbar li.active {color: #16325c;}
.THIS .progressbar li.active:before,.THIS .progressbar li.active.three:before {background-color: #00ad53;} 
.THIS .progressbar li.active + li:after {background-color: #00ad53;}  
.THIS .progressbar li .step-indicator-content {width: 85%; margin: 0 auto; text-align:center;}                  
.THIS .progressbar li.halFactive:before,.THIS .progressbar li.active.three:before {background-color: #16325c;}
.THIS .progressbar li.halFactive + li:after {background-color: #a8b7c7;}
.THIS .progressbar li.half:before,.THIS .progressbar li.active.three:before {background-color: #0070bf;}
.THIS .progressbar li.half + li:after {background-color: #0070bf;}
.THIS .demo-only {background: white !important;}
.THIS .region-main {width: 40% !important;}
.THIS .btnClose{float:right !important;}

.THIS .hidden
{
	display:none;
}

.THIS .show
{
	display:block;
}
.THIS .disable
{
	opacity: 0.5;
}
.THIS .footer{
    position: fixed;
    bottom: 7% !important;
    width: 92.3%;
    height: 62px;
    text-align: center;  
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}
.THIS .fontstyle
{
	font-size: large;
    color: #0e70d6;
    font-weight: bold;
    margin-top: 2%;
}
.THIS .align
{
	padding-top: 4%;
    padding-left: 4%;
}
.THIS .radioAlign
{
	line-height: 2;
    margin-bottom: 16%;
}

.THIS .continue
{
   margin: 0px 300px;
   margin-inline-end: auto;
   font-weight: bolder;
}
.THIS.modalbody{overflow-y:auto !important; max-height:411px;padding:1rem 2rem !important;height: 570px !important;}
.THIS.slds-modal__footer{position:absolute; bottom:0;width:100%;}
.THIS.slds-modal__footer .slds-button{text-transform:uppercase; letter-spacing:1px;}
.THIS.slds-modal__footer .slds-button:nth-child(2){float:left;}

@media screen and (max-height: 634px ){
    .THIS.modalbody{max-height:300px;}
}
@media screen and (max-height: 603px ){
    .THIS.modalbody{max-height:263px;}
}
@media screen and (max-width: 400px ){
    .THIS .progressbar li .header-column{font-size:.68rem;}
    .THIS .progressbar li:before{font-size: 14px; width: 30px;height: 30px; line-height: 30px;}
    .THIS .progressbar li:after{top: 12px;}
    .THIS .fontstyle{font-size:medium;}
}
@media screen and (max-width: 350px ){
    .THIS.modalbody{padding: 1rem 1.2rem!important;}
}