/*File ICONS*/

.pdf_icon{
	background: url('../img/pdf_icon.gif') no-repeat;
	background-position: left;
	width: 21px;
	height: 22px;
	padding: 15px 0;
	padding-left: 30px;
}
.word_icon{
	background: url('../img/msword-icon.png') no-repeat;
	background-position: left;
	width: 15px;
	height: 15px;
	padding: 15px 0;
	padding-left: 30px;
}
.excel_icon{
	background: url('../img/excel-icon.png') no-repeat;
	background-position: left;
	width: 15px;
	height: 15px;
	padding: 15px 0;
	padding-left: 30px;
}

.powerpoint_icon{
	background: url('../img/powerpoint-icon.png') no-repeat;
	background-position: left;
	width: 15px;
	height: 15px;
	padding: 15px 0;
	padding-left: 30px;
}

.onenote_icon{
	background: url('../img/onenote-icon.png') no-repeat;
	background-position: left;
	width: 15px;
	height: 15px;
	padding: 15px 0;
	padding-left: 30px;
}
.jpg_icon{
	background: url('../img/jpg-icon.png') no-repeat;
	background-position: left;
	width: 15px;
	height: 15px;
	padding: 15px 0;
	padding-left: 30px;
}
.png_icon{
	background: url('../img/jpg-icon.png') no-repeat;
	background-position: left;
	width: 15px;
	height: 15px;
	padding: 15px 0;
	padding-left: 30px;
}

/** Header Area **/

.header{
	padding: 30px 0;
}
.chevron_logo{

}
.top_action_btn{

}
.top_action_btn .topaction_btn_list{
	list-style-type: none;
}
.top_action_btn .topaction_btn_list li{
	display: inline-block;
	padding: 0 10px;
}
.action_close{
	padding: 5px 25px;
}
.action_submit{

}

/** Header Area Ends **/

textarea { resize:vertical ; }

/** Content Area **/
.content_area{
	padding: 40px 0 100px 0;
}

/** Sidebar **/
.sidebar{}
.sidebar .action_submit{
	margin-bottom: 10px;
}
.action_submit{}
.sidebar_nav_list{
	background: #002a54;
	padding: 10px 0 10px 10px;
  -webkit-border-radius: 5px; 
  -moz-border-radius: 5px;
  -o-border-radius:5px;
  -ms-border-radius:5px; 
  border-radius: 5px;
}
.sidebar_nav_list .sb_navlist{
	list-style-type: none;
	padding-left: 0;
	margin-bottom: 0;
}
.sidebar_nav_list .sb_navlist li{
	padding: 5px 0;
}
.sidebar_nav_list .sb_navlist li a{
	color: #ffffff;
}

/** Sidebar Ends **/

/** Tabular Content and Other Page Content Starts **/
.tabular_content{}
.tabular_content .page_heading, .right_content .page_heading{
	padding-top:0;
	margin-top:0;
	font-weight: 700;
}
.tabular_content .table_action_tool{
	list-style-type: none;
	padding-left: 0;
}
.tabular_content .table_action_tool > li{
	display: inline-block;
	margin-right: 20px;
}
.disabled_btn{
	background:#cccccc;
	color:#424242;
	border-color: #cccccc;
}
.last_updated_msg{}
.last_updated_msg .updated_status, .color_lightgrey, .footer_area span{
	color: #C9C9C9;
}
.table>tbody>tr>td{
	padding-bottom: 20px;
}
.table{
	border-bottom: 1px solid #ddd;
}
.star{
	background: url('../img/star_sprite.png') no-repeat;
	width: 15px;
	height: 14.5px;
	display: inline-block;
	margin-left: 20px;
}
.star.star_enabled{
	background-position: 0 -14.5px;
}
.imp{
	background: url('../img/important.png') no-repeat;
	width: 15px;
	height: 15px;
	display: inline-block;
	margin-left: 20px;
}
.imp_item{
	color: #c9302c;
}
.color_blue{
	color: #337ab7;
}
.system_notices{
	color: #47b700;
}
.text_bold{
	font-weight: 700;
}

.msg_alert_label{
	margin-top: 10px;
}
.msg_alert_label .label_color{
	padding-left: 0;
	list-style-type: none;
}
.msg_alert_label .label_color li{
	display: inline-block;
	margin-right: 20px;
	background-position: center; 
}
.label_color_item{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	display: inline-block;
	margin-right: 10px;
}
.label_new{
	background: #337ab7;
}
.label_read{
	background: #666666;
}
.label_expiring{
	background: #c9302c;
}
.label_systemnotices{
	background: #47b700;
}
.label_important{
	background: url('../img/important.png') no-repeat;
	width: 15px;
	height: 15px;
}
.imp_label{
	display: inline-block;
	margin-right: 10px;
}
.pagination_box{
	padding: 10px 0;
}
.pagination_box .paginate_number{
	float: right;
}
.pagination_box .pager_next_prev{
	float: right;
	list-style-type: none;
}
.pagination_box .pager_next_prev li{
	display: inline-block;
	margin-right: 20px;
}

.pagination_box .pager_next_prev .pager_nav a{
	color: #c9c9c9;
}
.pagination_box .pager_next_prev .more_item a{
	color: #337ab7 !important;
}
.selected_row{
	background: #f4f4f4;
}

.right_content .bootstrap-select.form-control:not([class*=col-]){
	width: 20%;
	display: block;
}

.right_content .c_select_width button[type=button]{
	color: #0175c2;
	background-color: #ffffff;
	border-color: #0175c2;
}
.right_content .bootstrap-select .btn:focus {
    outline: none !important;
}
.right_content .btn-group.open .dropdown-toggle{
	background-color: #0175c2;
}
.right_content .btn-group.open .dropdown-toggle span{
	color: #ffffff;
}
.right_content .fileupload{
	display: none;
}
.right_content .file_attach_list, .right_content .attached_files{
	list-style-type: none;
	padding-left: 0;
}
.right_content .file_attach_list li a.attach_file{
	display: inline-block;
	margin-bottom: 10px;
}
.right_content .file_attach_list li a.add_files{
	color: #bdbdbd;
	background: url('../img/add_icon.png') left no-repeat;
	padding-left: 25px;
}
.right_content .empty_files{
	display: none;
}
.right_content .attached_files{
	display: block;
}
.right_content .attached_files li a{
	display: inline-block;
	margin-bottom: 10px;
	background: url('../img/file_icon.png') left no-repeat;
	padding-left: 25px;
	color: #bdbdbd;
	cursor: pointer;
}
.right_content .attached_files .active_add{
	color: #0175c2;
	background: url('../img/active_add_icon.png') left no-repeat;
	padding-left: 25px;
	font-weight: 700;
	cursor: pointer;
}
.right_content hr{
	margin: 10px 0 30px 0;
}

/** Tabular Content and other Page Content Ends **/


/** Message View 1 CSS **/
.message_content{}
.top_nav{
	padding-bottom: 10px;
	padding-top:10px;
	border-bottom: 1px solid #eee;
}
.top_nav1{
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}

.top_nav a{
	float: left;
	
}
.top_nav .msg_action{
	display: inline-block;
}
.top_nav .msg_action .msg_action_item, .top_nav .msg_action .msg_pagination{
	list-style-type: none;
	float: left;
	padding-left: 0;
	margin-bottom: 0;
	line-height: 15px;
}
.top_nav .msg_action .msg_action_item li, .top_nav .msg_action .msg_pagination li{
	display: inline-block;
}
.top_nav .msg_action .msg_pagination li{
	padding: 0 3px;
}
.top_nav .msg_action .msg_action_item li:after{
	content: " | ";
	padding: 10 10px;
}
.top_nav .msg_action .msg_action_item li:last-child::after{
	content: " ";
}
.top_nav .msg_action .msg_pagination{
	
}
.top_nav .msg_action .msg_pagination li a.next{
	display: inline-block;
	background: url('../img/next.png') no-repeat;
	width: 15px;
	height: 15px;
}
.top_nav .msg_action .msg_pagination li a.prev{
	display: inline-block;
	background: url('../img/prev.png') no-repeat;
	width: 15px;
	height: 15px;
}
.top_nav .msg_action .msg_pagination li a.pag_disab{
	background-position: 0 -15px;
}
.top_nav .msg_action .msg_pagination li a.pag_disab{
	background-position: 0 -15px;
}
.message_content .message_info{
	padding-bottom: 30px;
	border-bottom: 1px #eeeeee solid;
	padding-top: 20px;
}
.message_content .message_info h3{
	margin-bottom: 20px;
}
.message_content .message_info br{
	margin: 10px 0;
}
.message_content .input_msg{
	margin-top: 30px;
	margin-bottom: 30px;
}
.message_content .recent_msg .top_nav_sec{
	padding-bottom: 10px;
	border-bottom: 1px #eeeeee solid;
	padding-top: 5px;
}
.message_content .recent_msg .top_nav_sec h4{
	color: #337ab7;
	float: left;
	margin: 5px 0;
}
.message_content .recent_msg .top_nav_sec .showhidemsg i{
	float: right;
	display: inline-block;
	margin:5px 0;
	background: url('../img/updown.png') top right no-repeat;
	height: 10px;
	line-height: 10px;
	padding-right: 20px;
	cursor: pointer;
}
.message_content .recent_msg .top_nav_sec .showhidemsg i.openmsg{
	background-position: right -10px;
}
.message_content .msg_cont_wrap{
	padding-top: 0px;
	padding-bottom:0px;
	padding-left:10px;
	padding-right:10px;
	overflow-y: hidden;
}
.message_content .msg_cont_wrap .msg_item_list{
	padding-left: 0;
	list-style-type: none;
}
.message_content .msg_cont_wrap .msg_item_list li{
	padding: 10px 20px;
	margin-bottom: 10px; 
}
.message_content .msg_cont_wrap .msg_item_list li h5{
	font-weight: 700;
}
.message_content .msg_cont_wrap .msg_item_list li span{
	color: #BFBFBF;
}
.message_content .msg_cont_wrap .msg_item_list li p{
	margin: 10px 0 30px 0;
}
.message_content .msg_cont_wrap .msg_item_list li.cust_supp{
	background: #EBEBEB;
}
.message_content .msg_cont_wrap .previous_list{
	display: none;
}
.message_content .msg_cont_wrap .plist_open{
	display: block;
}
.recent_msg .top_nav{
	margin-top: 20px;
	border-bottom: none;
}
/** Message View 1 CSS Ends **/

/** Content Area Ends **/

/** Footer Area **/
.footer_area span{
	padding: 20px 0;
}
/** Footer Area Ends **/









@media (min-width: 1366px) {
	.container{
	    width:1280px;
	}
}

/** No More Tables **/
@media only screen and (max-width: 800px) {
	
	/* Force table to not be like tables anymore */
	#no-more-tables table, 
	#no-more-tables thead, 
	#no-more-tables tbody, 
	#no-more-tables th, 
	#no-more-tables td, 
	#no-more-tables tr { 
		display: block; 
	}
 
	/* Hide table headers (but not display: none;, for accessibility) */
	#no-more-tables thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
 
	#no-more-tables tr { border: 1px solid #ccc; }
 
	#no-more-tables td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
		white-space: normal;
		text-align:left;
	}
 
	#no-more-tables td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}
 
	/*
	Label the data
	*/
	#no-more-tables td:before { content: attr(data-title); }
}

/** No More Tables End **/

/** Right Offset **/
.col-xs-offset-right-12 {
  margin-right: 100%;
}
.col-xs-offset-right-11 {
  margin-right: 91.66666667%;
}
.col-xs-offset-right-10 {
  margin-right: 83.33333333%;
}
.col-xs-offset-right-9 {
  margin-right: 75%;
}
.col-xs-offset-right-8 {
  margin-right: 66.66666667%;
}
.col-xs-offset-right-7 {
  margin-right: 58.33333333%;
}
.col-xs-offset-right-6 {
  margin-right: 50%;
}
.col-xs-offset-right-5 {
  margin-right: 41.66666667%;
}
.col-xs-offset-right-4 {
  margin-right: 33.33333333%;
}
.col-xs-offset-right-3 {
  margin-right: 25%;
}
.col-xs-offset-right-2 {
  margin-right: 16.66666667%;
}
.col-xs-offset-right-1 {
  margin-right: 8.33333333%;
}
.col-xs-offset-right-0 {
  margin-right: 0;
}
@media (min-width: 768px) {
  .col-sm-offset-right-12 {
    margin-right: 100%;
  }
  .col-sm-offset-right-11 {
    margin-right: 91.66666667%;
  }
  .col-sm-offset-right-10 {
    margin-right: 83.33333333%;
  }
  .col-sm-offset-right-9 {
    margin-right: 75%;
  }
  .col-sm-offset-right-8 {
    margin-right: 66.66666667%;
  }
  .col-sm-offset-right-7 {
    margin-right: 58.33333333%;
  }
  .col-sm-offset-right-6 {
    margin-right: 50%;
  }
  .col-sm-offset-right-5 {
    margin-right: 41.66666667%;
  }
  .col-sm-offset-right-4 {
    margin-right: 33.33333333%;
  }
  .col-sm-offset-right-3 {
    margin-right: 25%;
  }
  .col-sm-offset-right-2 {
    margin-right: 16.66666667%;
  }
  .col-sm-offset-right-1 {
    margin-right: 8.33333333%;
  }
  .col-sm-offset-right-0 {
    margin-right: 0;
  }
}
@media (min-width: 992px) {
  .col-md-offset-right-12 {
    margin-right: 100%;
  }
  .col-md-offset-right-11 {
    margin-right: 91.66666667%;
  }
  .col-md-offset-right-10 {
    margin-right: 83.33333333%;
  }
  .col-md-offset-right-9 {
    margin-right: 75%;
  }
  .col-md-offset-right-8 {
    margin-right: 66.66666667%;
  }
  .col-md-offset-right-7 {
    margin-right: 58.33333333%;
  }
  .col-md-offset-right-6 {
    margin-right: 50%;
  }
  .col-md-offset-right-5 {
    margin-right: 41.66666667%;
  }
  .col-md-offset-right-4 {
    margin-right: 33.33333333%;
  }
  .col-md-offset-right-3 {
    margin-right: 25%;
  }
  .col-md-offset-right-2 {
    margin-right: 16.66666667%;
  }
  .col-md-offset-right-1 {
    margin-right: 8.33333333%;
  }
  .col-md-offset-right-0 {
    margin-right: 0;
  }
}
@media (min-width: 1200px) {
  .col-lg-offset-right-12 {
    margin-right: 100%;
  }
  .col-lg-offset-right-11 {
    margin-right: 91.66666667%;
  }
  .col-lg-offset-right-10 {
    margin-right: 83.33333333%;
  }
  .col-lg-offset-right-9 {
    margin-right: 75%;
  }
  .col-lg-offset-right-8 {
    margin-right: 66.66666667%;
  }
  .col-lg-offset-right-7 {
    margin-right: 58.33333333%;
  }
  .col-lg-offset-right-6 {
    margin-right: 50%;
  }
  .col-lg-offset-right-5 {
    margin-right: 41.66666667%;
  }
  .col-lg-offset-right-4 {
    margin-right: 33.33333333%;
  }
  .col-lg-offset-right-3 {
    margin-right: 25%;
  }
  .col-lg-offset-right-2 {
    margin-right: 16.66666667%;
  }
  .col-lg-offset-right-1 {
    margin-right: 8.33333333%;
  }
  .col-lg-offset-right-0 {
    margin-right: 0;
  }

  /** Updated Message List Design **/

.message_content .msg_cont_wrap .newmsg_item_list{
	list-style-type: none;
	padding-left: 0;
}
.message_content .msg_cont_wrap .newmsg_item_list > li{
	padding: 10px;
	border-bottom: 1px #eeeeee solid;
}
.message_content .msg_cont_wrap .newmsg_item_list li.newaccount_holder span{
	color: #337ab7;
}
.message_content .msg_cont_wrap .newmsg_item_list li.newaccount_holder span span.beblack{
	color: #000000;
}
.message_content .msg_cont_wrap .newmsg_item_list .comment_item{
	position: relative;
}


.message_content .msg_cont_wrap .newmsg_item_list .comment_item a.toggleComment{
	position: absolute;
	right: 20px;
	top:30px;
	display: inline-block;
	/*background: url('../img/updown_spec.png');*/
	width: 15px;
	height: 10px;
}

.message_content .msg_cont_wrap .newmsg_item_list .comment_item a.toggleComment.open{
	background-position: 0 -10px;
}
.message_content .msg_cont_wrap .newmsg_item_list .comment_item .detailed_view span.light_grey{
	color: #afafaf;
	font-size: 11px;
}
.message_content .msg_cont_wrap .newmsg_item_list .comment_item .detailed_view > p{
	margin-top: 25px;
	margin-bottom: 25px;
}
.message_content .msg_cont_wrap .newmsg_item_list .comment_item .detailed_view ul.comment_detailed_attachment{
	padding-left: 0;
	margin-top: 10px;
	margin-bottom: 20px;
}
.message_content .msg_cont_wrap .newmsg_item_list .comment_item .detailed_view ul.comment_detailed_attachment li{
	border-bottom: none;
	padding-bottom:12px;
}
.message_content .msg_cont_wrap .newmsg_item_list .comment_item .detailed_view ul.comment_detailed_attachment li span.attachment_icon{
	display: inline-block;
	background: url('../img/attach_icon.png') no-repeat;
	width: 21px;
	height: 21px;
}
.message_content .msg_cont_wrap .newmsg_item_list .comment_item .detailed_view ul.comment_detailed_attachment li a.pdf_icon, .message_content .msg_cont_wrap .newmsg_item_list .comment_item .detailed_view ul.comment_detailed_attachment li a.word_icon{
	font-size: 10px;
}


.attachments{
	list-style-type: none;
	padding-left: 0px;
	padding-top: 5px;
	padding-bottom: 15px;
}
.attachments li{
	display: inline-block;
	margin-right: 10px;

}
.pdf_icon{
	background: url('../img/pdf_icon.gif') no-repeat;
	background-position: left;
	width: 21px;
	height: 22px;
	padding: 15px 0;
	padding-left: 30px;
}
.word_icon{
	background: url('../img/msword-icon.png') no-repeat;
	background-position: left;
	width: 15px;
	height: 15px;
	padding: 15px 0;
	padding-left: 30px;
}
.excel_icon{
	background: url('../img/excel-icon.png') no-repeat;
	background-position: left;
	width: 15px;
	height: 15px;
	padding: 15px 0;
	padding-left: 30px;
}

.powerpoint_icon{
	background: url('../img/powerpoint-icon.png') no-repeat;
	background-position: left;
	width: 15px;
	height: 15px;
	padding: 15px 0;
	padding-left: 30px;
}

.onenote_icon{
	background: url('../img/onenote-icon.png') no-repeat;
	background-position: left;
	width: 15px;
	height: 15px;
	padding: 15px 0;
	padding-left: 30px;
}
.jpg_icon{
	background: url('../img/jpg-icon.png') no-repeat;
	background-position: left;
	width: 15px;
	height: 15px;
	padding: 15px 0;
	padding-left: 30px;
}
.png_icon{
	background: url('../img/jpg-icon.png') no-repeat;
	background-position: left;
	width: 15px;
	height: 15px;
	padding: 15px 0;
	padding-left: 30px;
}
 .nameContainer
  {
	margin-left:0px !important;
	margin-top:10px;
	margin-bottom:10px;
	text-align:left;
  }
  .message_content .msg_cont_wrap .newmsg_item_list li.newaccount_holder span span.beblack{
	color: #000000 !important;
}
.colorblue
{
	color:#337ab7; !important;
}

