.THIS#stage4 {width:70%; font-size:.8125rem; margin:0 auto;}
.THIS .divFI{display:none;}

.THIS#stage4 .existingEFT{width:100% !important; font-size:.8125rem; margin:0 auto;}

.THIS#stage4 .slds-form-element__label{width:120px;max-width:unset;}

.THIS#stage4 .slds-form-element__control{padding-left:120px;}

.THIS#stage4 .slds-form-element__control.accountnumber{padding-left:0px !important;}

.THIS#stage4 .fontstyle{word-break:break-word;}

.THIS#stage4 .uiPicklistLabel-hidden{display:none !important;}

.THIS#stage4 .uiInput--select .select, 
.THIS#stage4 .uiInput--input.input,
.THIS#stage4 .slds-input{min-height:unset; height:32px;}

.THIS#stage4 label.slds-form-element__label.slds-no-flex{display:none; width:0;}

.THIS#stage4 .proceedtbl .slds-form-element__control,
.THIS#stage4 .fundingtbl .slds-form-element__control{padding-left:0;}
.THIS#stage4 .fundingtbl td{padding-bottom:10px;}

.THIS#stage4 .eft4tbl{height:392px;}
.THIS#stage4 .firstcol{border-right: 1px solid #777; margin-right: 1rem; padding-top:6rem;}
.THIS#stage4 .secondcol{padding-top:6rem;}
.THIS#stage4 .centerPara{text-align: center;font-size: 1rem;}


@media (max-width:1250px){
    .THIS#stage4 {width:90%;}
}
@media (max-width:600px){
    .THIS#stage4 {width:100%;}
}
@media (max-width:767px){
    .THIS#stage4 .slds-form-element__label{float:left;}
	.THIS#stage4 .slds-form-element_horizontal .slds-form-element__control{clear:none;}
}
@media (max-width:480px){
    .THIS#stage4 .slds-form-element__label{clear:both;}
	.THIS#stage4 .slds-form-element_horizontal .slds-form-element__control{clear:both; padding-left:0;}
}