.THIS#stage5 {width:80%; font-size:.875rem; margin:0 auto;}

.THIS#stage5 .slds-form-element__control{padding-left:120px;}

.THIS#stage5 .slds-form-element__control .slds-input{min-height:unset; height:32px;}
.THIS#stage5 .slds-form-element__control .uiInput--datetime .datePicker-openIcon{bottom:8px;}

.THIS#stage5 label.slds-form-element__label.slds-no-flex{display:none; width:0;}

.THIS#stage5 .uiInput--select .select, 
.THIS#stage5 .uiInput--input.input,
.THIS#stage5 .slds-input{min-height:unset; height:32px;}

@media (max-width:1250px){
    .THIS#stage5 {width:90%;}
}
@media (max-width:600px){
    .THIS#stage5 {width:100%;}
}
@media (max-width:767px){
    .THIS#stage5 .slds-form-element__label{float:left;}
	.THIS#stage5 .slds-form-element_horizontal .slds-form-element__control{clear:none;}
}