.THIS#stage3 {width:70%; font-size:.8125rem; margin:0 auto;}

.THIS#stage3 .slds-form-element__control{padding-left:120px;}
.THIS#stage3 .slds-form-element__control .slds-form-element__control{padding-left:0;}
.THIS#stage3 .slds-form-element__control .slds-input{min-height:unset; height:32px;}
.THIS#stage3 .slds-form-element__control .uiInput--datetime .datePicker-openIcon{bottom:8px;}

.THIS#stage3 label.slds-form-element__label.slds-no-flex{display:none; width:0;}

.THIS#stage3 .uiInput--select .select, 
.THIS#stage3 .uiInput--input.input, .THIS#stage2 .uiInput--input .input,
.THIS#stage3 .slds-input{min-height:unset; height:32px;}

.THIS#stage3 .uiPicklistLabel{display:none;height:0;}

@media (max-width:1250px){
    .THIS#stage3 {width:90%;}
}
@media (max-width:600px){
    .THIS#stage3 {width:100%;}
}
@media (max-width:767px){
    .THIS#stage3 .slds-form-element__label{float:left;}
	.THIS#stage3 .slds-form-element_horizontal .slds-form-element__control{clear:none;}
}
@media (max-width:480px){
    .THIS#stage3 .slds-form-element__label{clear:both;}
	.THIS#stage3 .slds-form-element_horizontal .slds-form-element__control{clear:both; padding-left:0;}
}

.THIS#stage1{font-size:.8125rem; width:70%; margin:0 auto;}
.THIS#stage1 .radioAlign {margin-bottom:2rem !important;}

.THIS#stage1 .uiInput--select, 
.THIS#stage1 .slds-input{min-height:unset; height:32px;}

.THIS#stage1 label.slds-form-element__label.slds-no-flex{display:none; width:0;}

@media (max-width:1250px){
    .THIS#stage1 {width:90%;}
}
@media (max-width:600px){
    .THIS#stage1 {width:100%;}
}