.THIS {

}
.THIS .fullWidth{
    width:100%;
}
.THIS .slds-pill_link, .THIS .slds-pill--link{padding:5px;}
.THIS .slds-pill__remove {margin-right: .25rem;}

.THIS .errorForce a.select  
{
	
	border-color: rgb(194, 57, 52);
	box-shadow: rgb(194, 57, 52) 0px 0px 0px 1px inset;
}

.THIS .errorForce.input  
{
	
	border-color: rgb(194, 57, 52);
	box-shadow: rgb(194, 57, 52) 0px 0px 0px 1px inset;
}
.THIS .errorForce input
{
	border-color: rgb(194, 57, 52);
	box-shadow: rgb(194, 57, 52) 0px 0px 0px 1px inset;
}
.THIS.changeBorder {
    border : 2px solid red;
   
}